.giticon {
    position: relative;
    background-image: url(http://dev.bowdenweb.com/a/i/cons/dev/git/icon/git-icon-1788c/git-icon-1788c.png); 
    background-repeat: no-repeat;
    background-position: top left;
}