body {
    font-size: 12px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;  
    padding-left: 50px;
    padding-right: 20%;
}

body>header h1>a {
    color:#564b47;
    text-decoration: none;
}

body>header h4 {
    margin-top: -10px;
}

h1,h2,h3,h4 {
    width: 100%;
    min-width: 840px;
}

hr {
    margin-left: 0;
    padding-left: 0;
	width: 100%;
	min-width: 840px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

table {
    border: none;
}

td {
    padding-left: 20px;
}

a:hover {
    color: #696969;
}

main {

	width: 75%;
	min-width: 600px;
	margin-left: 150px;
	display: block;
}

nav {
	float: left;
	width: 150px;
	min-width: 150px;
}

nav a,
nav a:visited,
nav a:active {
    color: blue;
}

nav a:hover {
    color: #696969;
}

nav li {
    margin-left: -25px;
    list-style: none;
}

footer {
	clear: both;
	width: 100%;
}

article {
	margin: 10px;
}

article h2>a,
article h2>a:visited,
article h2>a:active {
    text-decoration: none;
    color: blue;
}

article h2>a:hover {
    color: #696969;
}

article .entry {
	margin-left: 15px;
	padding: 10px;
}

article .entry img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

article header span {
	margin-top: -10px;
	margin-bottom: -3px;
	margin-left: 5px;
}

article header h2 {
    margin-bottom: 3px;
}

section address {
    margin-left: 15px;
}

#paginator {
    padding: 10px;
}

#paginator a {
    text-decoration: none;
}

.more {
    margin-left: 80%;
}