---
layout: default
title: Eirik M Hammerstad
---

{% for post in site.posts %}
<article>
  <header>
    <h1>
    	<a href="{{post.url}}">
    		{{post.title}}
    	</a>
    </h1>
    <p class="author">
    	<a href="https://github.com/{{post.author}}">
    		{{post.author}}
    	</a>
    	 @ 
    	<time>
    		{{post.date|date: "%d.%m.%Y"}}
    	</time>
    </p>
  </header>

  {{ post.excerpt }}

  <a href="{{post.url}}" class="read-more">
  	Read more &rarr;
  </a>
</article>
<hr>
{% endfor %}