<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}  &mdash;  Eirik M Hammerstad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <h1><a href="/">Eirik M Hammerstad developer blog</a></h1>
    </header>
    <section role="main">
      {{content}}
    </section>
    <footer>
      <p>Eirik M Hammerstad, Software Developer @ <a href="http://www.dips.no">DIPS ASA</a></p>
    </footer>
  </body>
</html>