---
layout: default
---
<article>
  <header>
    <h1>{{page.title}}</h1>
    <p class="author"><a href="https://github.com/{{page.author}}">{{page.author}}</a> @ <time>{{page.date|date: "%d.%m.%Y"}}</time></p>
  </header>
  {{content}}
</article>

<p><a href="/" class="return-to-base">&larr; Back</a></p>